<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8-ZXlENPsahFvTjBgbrvg1CuYhipGVic&libraries=places">
    </script>
    <script src="/js/app.js"></script>
    <link rel="icon" href="http://cdn.playbuzz.com/cdn/76928f47-5f16-4caa-8f9b-0ca5f2cf4cf0/9934dc32-d706-4de3-9dbb-364a3d8d5935.jpg">
    <title>The Dining Dog</title>
  </head>
  <body>
    <%- include ./partials/_header %>
    <% for (const type in messages) { %>
      <div class="notification is-<%= type %>"><%= messages[type] %></div>
    <% } %>
    <%- body %>
    <%- include ./partials/_footer %>
  </body>
</html>
