<main class="container">
  <form>
    <table>
      <tr>
        <td><select name="category" class="input">
            <option selected disabled>Select a Category</option>
          <% categories.forEach(category => { %>
            <option value="<%= category._id %>"<% if(category._id.equals(selectedCategory)) { %> selected <% } %>><%= category.name.charAt(0).toUpperCase() + category.name.slice(1); %></option>
          <% }) %>
        </select></td>
        <td><button class="button is-primary">Go!</button></td>
      </tr>
    </table>

  </form>

  <div class="columns is-multiline">

    <% venues.forEach(venue => { %>
    <div class="column is-one-quarter-desktop is-half-tablet">
      <a href="/venues/<%= venue._id %>">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="<%= venue.image %>" alt="<%= venue.name %>">
            </figure>
          </div>
          <div class="card-content">
            <h3 class="title"><%= venue.name %></h3>
            <h4 class="subtitle"><%= venue.postCode %></h4>
          </div>
        </div>
      </a>
    </div>
    <% }) %>

  </div>
</main>
