<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title"><%= venue.name %> (<%= venue.category.capTitle %>)</h1>
      <h2 class="subtitle"><i class="fa fa-map-marker">&nbsp;</i><%= venue.location %>, <%= venue.postCode %>. &nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;<%= venue.phone %>. &nbsp;&nbsp;&nbsp;<i class="fa fa-home"></i>&nbsp;Open <%= venue.openingHours['seasons'] %>. &nbsp;&nbsp;&nbsp;<i class="fa fa-globe"></i>&nbsp;<a class="website-link" href="<%= venue.website %>">Website</a>. </h2>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= venue.image %>" alt="<%= venue.name %>">
      </figure>
    </div>
    <div class="column">
      <%# set attributes as 'data-whatever' to access in javascript by document.getElement().dataset.whatever
      here we've used JSON.stringify to turn the object into a string (which we will then JSON.parse in JavaScript) %>
      <div id="map" data-location="<%= JSON.stringify(venue.map) %>"></div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-9">
      <p><%- venue.description %></p>
      <br/>
      <p>Visit this venue's website <strong><a href="<%= venue.website %>">here</a></strong>.</p>
    </div>
    <div class="column is-3">
      <table>
        <tr>
          <td></td>
          <td><strong>Open</strong></td>
          <td><strong>Close</strong></td>
        </tr>
        <% days.forEach(day => { %>
          <tr>
          <td><%- day.charAt(0).toUpperCase() + day.slice(1); %></td>
          <td><%= venue.openingHours[day][0] %></td>
          <td><%= venue.openingHours[day][1] %></td>
          </tr>
          <% }) %>
        </table>
    </div>
  </div>

  <% if(locals.isAuthenticated) { %>
    <% if(locals.currentUser.isAdmin) { %>
    <div class="columns">
      <a class="button is-primary" href="/venues/<%= venue._id %>/edit">Edit Venue</a>
      <form method="POST" action="/venues/<%= venue._id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="button is-danger">Delete Venue</button>
      </form>
    </div>
    <% } %>
    <hr/>
    <h2 class="subtitle">Comments</h2>
    <ul class="comments">
      <% venue.comments.forEach(comment => { %>
        <li>
        <% if(comment.isModerated || locals.currentUser.isAdmin || comment.isOwnedBy(locals.currentUser)) { %>
          <div class="box">
          <% if (comment.isOwnedBy(locals.currentUser) || locals.currentUser.isAdmin) { %>
            <form method="POST" action="/venues/<%= venue._id %>/comments/<%= comment._id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="button is-danger">Delete</button>
            </form>
          <% } %>

          <% if(locals.currentUser.isAdmin && !comment.isModerated) { %>
            <form class="moderate" method="POST" action="/venues/<%= venue._id %>/comments/<%= comment._id %>/moderate">
              <input type="hidden" name="_method" value="PATCH">
              <button class="button is-primary">Moderate</button>
            </form>
          <% } %>

          <% if(comment.isModerated || locals.currentUser.isAdmin || comment.isOwnedBy(locals.currentUser)) { %>
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="<%= comment.user.profile %>" alt="<%= comment.user.username %>">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <%= comment.content %>
                  </p>
                  <% if (comment.user) { %>
                    <strong><%= comment.user.username %></strong>
                  <% } %>
                </div>
              </div>
            </article>
          <% } %>
        </div>
        <% } %>
      </li>
    <% }) %>
  </ul>
  <form class="commentForm" method="POST" action="/venues/<%= venue._id %>/comments">
        <textarea class="textarea" name="content"></textarea>
        <br/>
        <button class="button is-primary">Submit</button>
  </form>
  <% } %>

  <div class="spacer"></div>
</div>
